@page "/"
@using Mythril.Blazor.Services
@using Mythril.Data
@using Mythril.GameLogic
@using Mythril.Data.Items
@using Mythril.Data.Jobs
@using Mythril.Data.Materia

@inject GameDataService GameDataService

<PageTitle>Mythril</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @if (resourceManager is not null)
            {
                <ResourcePanel Gold="@resourceManager.Gold" Mana="@resourceManager.Mana" Faith="@resourceManager.Faith" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            @if (resourceManager is not null)
            {
                <HandPanel Tasks="resourceManager.Tasks" />
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>
        <div class="col-4">
             @if (resourceManager is not null)
            {
                <PartyPanel Party="resourceManager.Characters" TaskProgresses="taskProgresses" OnTaskDrop="EventCallback.Factory.Create<(TaskData, Character)>(this, TaskDropped)" />
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ButtonPanel OnCollectClick="Collect" OnNextDayClick="NextDay" />
        </div>
    </div>
</div>

@using System.Timers
@code {
    [Parameter]
    public EventCallback<TaskProgress> OnTaskCompleted { get; set; }

    private ResourceManager? resourceManager;
    private List<TaskProgress> taskProgresses = new();
    private Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        OnTaskCompleted = EventCallback.Factory.Create<TaskProgress>(this, (p) => Console.WriteLine($"Task '{p.Task.Title}' completed by '{p.Character.Name}'"));
        var tasks = await GameDataService.GetTasksAsync();
        var characters = await GameDataService.GetCharactersAsync();
        var enemies = await GameDataService.GetEnemiesAsync();
        var items = await GameDataService.GetItemsAsync();
        var jobs = await GameDataService.GetJobsAsync();
        var materia = await GameDataService.GetMateriaAsync();

        resourceManager = new ResourceManager();
        resourceManager.SetData(tasks, characters, materia, jobs, items, enemies);

        timer = new Timer(100);
        timer.Elapsed += (sender, args) => OnTimerElapsed();
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private void Collect()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private void NextDay()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private void TaskDropped((TaskData task, Character character) args)
    {
        resourceManager?.Tasks.Remove(args.task);
        taskProgresses.Add(new TaskProgress(args.task, args.character));
        StateHasChanged();
    }

    private void OnTimerElapsed()
    {
        var newlyCompletedTasks = new List<TaskProgress>();
        foreach (var progress in taskProgresses)
        {
            if (progress.Progress < 100)
            {
                var elapsed = (DateTime.Now - progress.StartTime).TotalSeconds;
                progress.Progress = Math.Min(100, (elapsed / progress.Task.DurationSeconds) * 100);

                if (progress.Progress >= 100)
                {
                    newlyCompletedTasks.Add(progress);
                }
            }
        }

        if (newlyCompletedTasks.Any())
        {
            foreach (var task in newlyCompletedTasks)
            {
                OnTaskCompleted.InvokeAsync(task);
            }
            taskProgresses.RemoveAll(p => p.Progress >= 100);
        }

        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
