@page "/"
@using Mythril.Blazor.Services
@using Mythril.Data
@using Mythril.Data.Items
@using System.Threading.Tasks

@inject GameDataService GameDataService
@inject ResourceManager resourceManager

<PageTitle>Mythril</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @if (resourceManager is not null)
            {
                <ResourcePanel Gold="@resourceManager.Gold" Items="resourceManager.Inventory?.GetItems().ToList()" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            @if (resourceManager is not null)
            {
                <HandPanel Locations="resourceManager.Locations" />
            }
            else
            {
            }
        </div>
        <div class="col-6">
            @if (resourceManager is not null)
            {
                <PartyPanel Party="resourceManager.Characters" QuestProgresses="questProgresses" OnQuestDrop="EventCallback.Factory.Create<(Mythril.Data.Quest, Character)>(this, TaskDropped)" />
            }
            else        
            {
                <p><em>Loading...</em></p>
            }
        </div>
    </div>
</div>

@using System.Timers
@code {
    [Parameter]
    public EventCallback<QuestProgress> OnTaskCompleted { get; set; }

    private List<QuestProgress> questProgresses = new();
    private Timer? timer;
    private Random random = Random.Shared;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        OnTaskCompleted = EventCallback.Factory.Create<QuestProgress>(this, (p) => resourceManager.ReceiveRewards(p.Quest));
        var locations = await GameDataService.GetLocationsAsync();
		var characters = new List<Character>() { new Character("Hero") };
        var items = await GameDataService.GetItemsAsync();
        var jobs = await GameDataService.GetCadencesAsync();

        resourceManager.SetData(locations, characters, jobs, items);

        timer = new Timer(100);
        timer.Elapsed += (sender, args) => { _ = System.Threading.Tasks.Task.Run(OnTimerElapsed); };
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private void OnZoneSelected(ChangeEventArgs e)
    {
        var zone = e.Value?.ToString();
        if (zone is not null && zone is not "Select a zone")
        {
            //enemiesInZone = await GameDataService.GetEnemiesAsync(zone);
        }
        else
        {
            //enemiesInZone = new();
        }
        StateHasChanged();
    }

    private void Collect()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private void NextDay()
    {
        // This will be implemented later
        StateHasChanged();
    }

    private async Task TaskDropped((Mythril.Data.Quest quest, Character character) args)
    {
        if (resourceManager.CanAfford(args.quest))
        {
            resourceManager.PayCosts(args.quest);
            questProgresses.Add(new QuestProgress(args.quest, args.character));
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task OnTimerElapsed()
    {
        var newlyCompletedTasks = new List<QuestProgress>();
        foreach (var progress in questProgresses)
        {
            if (progress.Progress < 100)
            {
                var elapsed = (DateTime.Now - progress.StartTime).TotalSeconds;
                progress.Progress = Math.Min(100, (elapsed / progress.Quest.DurationSeconds) * 100);

                if (progress.Progress >= 100)
                {
                    newlyCompletedTasks.Add(progress);
                }
            }
        }

        if (newlyCompletedTasks.Any())
        {
            foreach (var task in newlyCompletedTasks)
            {
                await OnTaskCompleted.InvokeAsync(task);
            }
            questProgresses.RemoveAll(p => p.Progress >= 100);
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
