@page "/"
@using Mythril.Blazor.Services
@using Mythril.Data
@using System.Threading.Tasks

@inject ResourceManager resourceManager
@inject ThemeService themeService
@inject NavigationManager navigationManager

<PageTitle>Mythril</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" @onclick="ToggleTheme">Toggle Theme</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (resourceManager is not null)
            {
                <InventoryPanel Items="resourceManager.Inventory?.GetItems().ToList()" />
            }
        </div>
    </div>
    <div class="row">
        <!-- Left column with tabs -->
        <div class="col-6">
            @if (resourceManager is not null)
            {
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="hand-tab" data-bs-toggle="tab" data-bs-target="#hand" type="button" role="tab">
                            Locations
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="cadence-tab" data-bs-toggle="tab" data-bs-target="#cadence" type="button" role="tab">
                            Cadence
                        </button>
                    </li>
                </ul>
                <div class="tab-content p-2 border border-top-0">
                    <div class="tab-pane fade show active" id="hand" role="tabpanel">
                        <HandPanel Locations="resourceManager.UsableLocations" />
                    </div>
                    <div class="tab-pane fade" id="cadence" role="tabpanel">
                        <CadencePanel Cadences="resourceManager.Cadences" />
                    </div>
                </div>
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>

        <!-- Right column with PartyPanel -->
        <div class="col-6">
            @if (resourceManager is not null)
            {
                <PartyPanel Party="resourceManager.Characters"
                            QuestProgresses="questProgresses"
                            OnQuestDrop="EventCallback.Factory.Create<(Mythril.Data.Quest, Character)>(this, TaskDropped)" />
            }
            else
            {
                <p><em>Loading...</em></p>
            }
        </div>
    </div>
</div>

@using System.Timers
@code {
    [Parameter]
    public EventCallback<QuestProgress> OnQuestCompleted { get; set; }

    private List<QuestProgress> questProgresses = new();
    private Timer? timer;
    private Random random = Random.Shared;

    protected override void OnInitialized()
    {
        OnQuestCompleted = EventCallback.Factory.Create<QuestProgress>(this, (p) => resourceManager.ReceiveRewards(p.Quest));

        timer = new Timer(100);
        timer.Elapsed += (sender, args) => { _ = Task.Run(OnTimerElapsed); };
        timer.AutoReset = true;
        timer.Enabled = true;

        themeService.OnThemeChanged += StateHasChanged;
    }

    private async Task ToggleTheme()
    {
        await themeService.ToggleTheme();
        navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
    }

    private async Task TaskDropped((Mythril.Data.Quest quest, Character character) args)
    {
        if (resourceManager.CanAfford(args.quest))
        {
            resourceManager.PayCosts(args.quest);
            questProgresses.Add(new QuestProgress(args.quest, args.character));
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task OnTimerElapsed()
    {
        var newlyCompletedTasks = new List<QuestProgress>();
        for (int i = 0; i < questProgresses.Count; i++)
        {
            var progress = questProgresses[i];
            if (progress.Progress < 100)
            {
                var elapsed = (DateTime.Now - progress.StartTime).TotalSeconds;
                progress.Progress = Math.Min(100, (elapsed / progress.Quest.DurationSeconds) * 100);

                if (progress.Progress >= 100)
                {
                    newlyCompletedTasks.Add(progress);
                }
            }
        }

        if (newlyCompletedTasks.Any())
        {
            foreach (var task in newlyCompletedTasks)
            {
                await OnQuestCompleted.InvokeAsync(task);
            }
            questProgresses.RemoveAll(p => p.Progress >= 100);
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
        themeService.OnThemeChanged -= StateHasChanged;
    }
}
