body {
    background-color: #121212;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #555;
}

a, .btn-link {
    color: #bb86fc;
}

.form-control {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

.form-control:focus {
    background-color: #333;
    color: #fff;
    border-color: #bb86fc;
    box-shadow: 0 0 0 0.25rem rgba(187, 134, 252, 0.25);
}

.card {
    background-color: #1e1e1e;
    border-color: #555;
}
