@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="card" draggable="true" @ondragstart="HandleDragStart">
    <div class="card-header">@Unlock.Ability.Name</div>
    <div class="card-content">
        <div class="card-main">
            <p>@Unlock.Ability.Description</p>
        </div>
        <div class="card-side">
            @if (Unlock.Requirements is not null && Unlock.Requirements.Length > 0)
            {
                <h6>Requirements:</h6>
                <ul>
                    @foreach (var requirement in Unlock.Requirements)
                    {
                        <li>@requirement.Item.Name @requirement.Quantity</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CadenceUnlock Unlock { get; set; }

    private void HandleDragStart(DragEventArgs args)
    {
        if (!string.IsNullOrWhiteSpace(Unlock.Ability.Name))
        {
            args.DataTransfer.EffectAllowed = "move";
            DragDropService.Data = Unlock;
        }
    }
}
