@using Microsoft.AspNetCore.Components.Web

<div class="button-panel">
    <button @onclick="OnCollectClick">Collect</button>
    <button @onclick="OnNextDayClick">Next Day</button>
    <button>Fullscreen</button>
    <button>Settings</button>
    <button>Materia</button>
    <button>Jobs</button>
    <button>Shop</button>
    <button>Test Combat</button>
    <button>Pause</button>
    <button>Log</button>
    <button>Progress</button>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnCollectClick { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnNextDayClick { get; set; }
}
