@using Mythril.Data

<div class="hand-panel">
    @if (Cadences is not null)
    {
        @foreach (var cadence in Cadences.Where(l => l.Abilities.Any()))
        {
            <CadenceDragExpander Cadence="cadence">
                <CadenceTree Cadence="cadence" />
            </CadenceDragExpander>
        }
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Cadence>? Cadences { get; set; }
}
