@using Mythril.Data
@inject ResourceManager resourceManager

<div class="hand-panel">
    <h3>Cadence Progression</h3>
    @if (resourceManager.UnlockedCadences is not null && resourceManager.UnlockedCadences.Any())
    {
        @foreach (var cadence in resourceManager.UnlockedCadences)
        {
            <CadenceDragExpander Cadence="cadence">
                <CadenceTree CadenceData="cadence" />
            </CadenceDragExpander>
        }
    }
    else
    {
        <div class="alert alert-warning">
            No Cadences Unlocked. Unlocked names count: @resourceManager.UnlockedCadenceNames.Count
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("CadencePanel Initialized.");
    }
}
