@using Mythril.Data

<div class="hand-panel">
    @if (Cadences is not null)
    {
        @foreach (var cadence in Cadences.Where(l => l.Abilities.Any()))
        {
            <CadenceDragExpander Cadence="cadence">
                @foreach (var ability in cadence.Abilities)
                {
                    <div class="task-container">
                        <AbilityUnlockCard Unlock="ability" />
                    </div>
                }
            </CadenceDragExpander>
        }
    }
</div>

@code {
    [Parameter]
    public Cadence[]? Cadences { get; set; }
}
