@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="card" draggable="true" @ondragstart="() => HandleDragStart()">
    <div class="card-header">@CardData?.Title</div>
    <div class="card-body">
        <p>@CardData?.Description</p>
    </div>
</div>

@code {
    [Parameter]
    public CardData? CardData { get; set; }

    private void HandleDragStart()
    {
        DragDropService.Data = CardData;
    }
}
