@using Mythril.Data

<div class="character-display">
    <h4>@Character.Name</h4>
    @if (QuestProgress is not null)
    {
        <QuestProgressCard QuestProgress="QuestProgress" />
    }
    else
    {
        <DropZone OnQuestDrop="HandleTaskDrop" Accepts="Accepts" />
    }
</div>

@code {
    [Parameter]
    public Character Character { get; set; }

    [Parameter]
    public QuestProgress? QuestProgress { get; set; }

    [Parameter]
    public EventCallback<Quest> OnQuestDrop { get; set; }

    [Parameter]
    public Func<Quest, bool>? Accepts { get; set; }

    private void HandleTaskDrop(Quest task)
    {
        OnQuestDrop.InvokeAsync(task);
    }
}
