@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService
@inject IJSRuntime JS

<div class="drop-zone @(isShaking ? "shake" : "")"
    @ondragover="HandleDragOver"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter">
    <p>Drop an item here to assign it.</p>
</div>

@code {
    [Parameter]
    public EventCallback<ItemQuantity> OnItemDrop { get; set; }

    [Parameter]
    public Func<ItemQuantity, bool>? Accepts { get; set; }

    private bool isShaking = false;

    private async Task HandleDragEnter(DragEventArgs args)
    {
        if (DragDropService.Data is ItemQuantity task)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("eval", "event.preventDefault()");
        }
    }

    private async Task HandleDragOver(DragEventArgs args)
    {
        if (DragDropService.Data is ItemQuantity task)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("eval", "event.preventDefault()");
        }
    }

    private async Task HandleDrop()
    {
        if (DragDropService.Data is not ItemQuantity quest || string.IsNullOrWhiteSpace(quest.Item.Name)) return;

        if (Accepts is null || Accepts(quest))
        {
            await OnItemDrop.InvokeAsync(quest);
        }
        else
        {
            await Shake();
        }
        DragDropService.Data = null;
    }

    private async Task Shake()
    {
        isShaking = true;
        await System.Threading.Tasks.Task.Delay(500);
        isShaking = false;
    }
}
