@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="drop-zone @(isShaking ? "shake" : "")"
    @ondragover="HandleDragOver" @ondragover:preventDefault
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter" @ondragenter:preventDefault>
    <p>Drop an item here to assign it.</p>
</div>

@code {
    [Parameter]
    public EventCallback<ItemQuantity> OnQuestDrop { get; set; }

    [Parameter]
    public Func<ItemQuantity, bool>? Accepts { get; set; }

    private bool isShaking = false;

    private void HandleDragEnter(DragEventArgs args)
    {
        if (DragDropService.Data is ItemQuantity task)
        {
            if (Accepts is null || Accepts(task))
                args.DataTransfer.DropEffect = "move";
            else
                args.DataTransfer.DropEffect = "none";
        }
    }

    private void HandleDragOver(DragEventArgs args)
    {
        if (DragDropService.Data is ItemQuantity task)
        {
            if (Accepts is null || Accepts(task))
            {
                args.DataTransfer.DropEffect = "move";
            }
            else
            {
                args.DataTransfer.DropEffect = "none";
            }
        }
    }

    private async Task HandleDrop()
    {
        ItemQuantity item = (ItemQuantity?)DragDropService.Data ?? new ItemQuantity();
        if (!string.IsNullOrWhiteSpace(item.Item.Name))
        {
            if (Accepts is null || Accepts(item))
            {
                await OnQuestDrop.InvokeAsync(item);
            }
            else
            {
                isShaking = true;
                await System.Threading.Tasks.Task.Delay(500);
                isShaking = false;
            }
            DragDropService.Data = null;
        }
    }
}
