@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService
@inject IJSRuntime JS

<div class="drop-zone @(isShaking ? "shake" : "")"
    @ondragover="HandleDragOver"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter">
    @ChildContent
</div>

@code {
    [Parameter]
    public EventCallback<Character> OnCharacterDrop { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Func<Character, bool>? Accepts { get; set; }

    private bool isShaking = false;

    private async Task HandleDragEnter(DragEventArgs args)
    {
        if (DragDropService.Data is Character)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("window.eval", "event.preventDefault()");
        }
    }

    private async Task HandleDragOver(DragEventArgs args)
    {
        if (DragDropService.Data is Character)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("window.eval", "event.preventDefault()");
        }
    }

    private async Task HandleDrop()
    {
        if (DragDropService.Data is Character character)
        {
            if (Accepts is null || Accepts(character))
            {
                await OnCharacterDrop.InvokeAsync(character);
            }
            else
            {
                await Shake();
            }
            DragDropService.Data = null;
        }
    }

    private async Task Shake()
    {
        isShaking = true;
        await System.Threading.Tasks.Task.Delay(500);
        isShaking = false;
    }
}
