@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="drop-zone @(isShaking ? "shake" : "")"
    @ondragover="HandleDragOver" @ondragover:preventDefault
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter" @ondragenter:preventDefault>
    <p>Drop a task here to assign it.</p>
</div>

@code {
    [Parameter]
    public EventCallback<TaskData> OnTaskDrop { get; set; }

    [Parameter]
    public Func<TaskData, bool>? Accepts { get; set; }

    private bool isShaking = false;

    private void HandleDragEnter(DragEventArgs args)
    {
        if (DragDropService.Data is TaskData task)
        {
            if (Accepts is null || Accepts(task))
                args.DataTransfer.DropEffect = "move";
            else
                args.DataTransfer.DropEffect = "none";
        }
    }

    private void HandleDragOver(DragEventArgs args)
    {
        if (DragDropService.Data is TaskData task)
        {
            if (Accepts is null || Accepts(task))
            {
                args.DataTransfer.DropEffect = "move";
            }
            else
            {
                args.DataTransfer.DropEffect = "none";
            }
        }
    }

    private async Task HandleDrop()
    {
        var task = DragDropService.Data as TaskData;
        if (task is not null)
        {
            if (Accepts is null || Accepts(task))
            {
                await OnTaskDrop.InvokeAsync(task);
            }
            else
            {
                isShaking = true;
                await Task.Delay(500);
                isShaking = false;
            }
            DragDropService.Data = null;
        }
    }
}
