@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService
@inject IJSRuntime JS


<div class="drop-zone @(isShaking ? "shake" : "")"
    @ondragover="HandleDragOver"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter">
    <p>Drop a task here to assign it.</p>
</div>

@code {
    [Parameter]
    public EventCallback<object> OnQuestDrop { get; set; }

    [Parameter]
    public Func<object, bool>? Accepts { get; set; }

    private bool isShaking = false;

    private async Task HandleDragEnter(DragEventArgs args)
    {
        if (DragDropService.Data is Quest || DragDropService.Data is CadenceUnlock)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("eval", "event.preventDefault()");
        }
    }

    private async Task HandleDragOver(DragEventArgs args)
    {
        if (DragDropService.Data is Quest || DragDropService.Data is CadenceUnlock)
        {
            args.DataTransfer.DropEffect = "move";
            await JS.InvokeVoidAsync("eval", "event.preventDefault()");
        }
    }

    private async Task HandleDrop()
    {
        if (DragDropService.Data is Quest quest || DragDropService.Data is CadenceUnlock)
        {

            if (Accepts is null || Accepts(DragDropService.Data))
            {
                await OnQuestDrop.InvokeAsync(DragDropService.Data);
            }
            else
            {
                await Shake();
            }
        }

        DragDropService.Data = null;
    }

    private async Task Shake()
    {
        isShaking = true;
        await System.Threading.Tasks.Task.Delay(500);
        isShaking = false;
    }
}
