@using Mythril.Data

<h3>Enemy Status</h3>

@if (Party != null)
{
    @foreach (var character in Party)
    {
        <div>
            <p>@character.Name (@character.JobName)</p>
            <p>HP: @character.Health / @character.MaxHealth</p>
        </div>
    }
}

@code {
    [Parameter]
    public IReadOnlyList<Character>? Party { get; set; }
}
