@using Mythril.Data;

<div class="hand-panel">
    @if (Tasks is not null)
    {
        @foreach (var task in Tasks)
        {
            <Task TaskData="task" />
        }
    }
    }
</div>

@code {
    [Parameter]
    public List<TaskData>? Tasks { get; set; }
}
