@using Mythril.Data

<div class="hand-panel">
    @if (Locations is not null)
    {
        @foreach (var location in Locations.Where(l => l.Tasks.Any()))
        {
            <Expander Header="@location.Name">
                @foreach (var task in location.Tasks)
                {
                    <div class="task-container">
                        <Task TaskData="task" />
                    </div>
                }
            </Expander>
        }
    }
</div>

@code {
    [Parameter]
    public List<Location>? Locations { get; set; }
}
