@using Mythril.Data

<div class="hand-panel">
    @if (Locations is not null)
    {
        @foreach (var location in Locations.Where(l => l.Quests.Any()))
        {
            <Expander Header="@location.Name">
                @foreach (var quest in location.Quests)
                {
                    <div class="task-container">
                        <QuestCard Quest="quest" />
                    </div>
                }
            </Expander>
        }
    }
</div>

@code {
    [Parameter]
    public List<LocationData>? Locations { get; set; }
}
