.hand-panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.task-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0.5rem;
    width: 100%;
}
