@using Mythril.Data;

<div class="hand-panel">
    @if (Tasks is not null)
    {
        @foreach (var task in Tasks)
        {
            <div class="task-container">
                <Task TaskData="task" />
@*                 <button class="btn btn-danger btn-sm" @onclick="() => OnTaskDiscard.InvokeAsync(task)">Discard</button> *@
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public List<TaskData>? Tasks { get; set; }

    [Parameter]
    public EventCallback<TaskData> OnTaskDiscard { get; set; }
}
