@using Mythril.Data;

<div class="hand-panel">
    @foreach (var task in Tasks)
    {
        <Mythril.Blazor.Components.Task TaskData="task" />
    }
</div>

@code {
    [Parameter]
    public List<TaskData> Tasks { get; set; }
}
