<div class="inventory-panel">
    <div class="inventory-header">
        <h5>Inventory</h5>
    </div>
    <div class="inventory-content">
        @if (Items is not null)
        {
            @foreach (var item in Items)
            {
                <InventoryItem @key="item.Item.Name" Item="item" />
            }
        }
        @if (Spells is not null)
        {
            @foreach (var item in Spells)
            {
                <InventoryItem @key="item.Item.Name" Item="item" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<ItemQuantity>? Items { get; set; }
    [Parameter]
    public IEnumerable<ItemQuantity>? Spells { get; set; }
}
