<div class="inventory-panel">
    <h5>Inventory</h5>
    <div class="inventory-grid">
        @if (Items is not null)
        {
            @foreach (var item in Items)
            {
                <InventoryItem Item="item" />
            }
        }
    </div>
    <div class="inventory-grid">
        @if (Spells is not null)
        {
            @foreach (var item in Spells)
            {
                <InventoryItem Item="item" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<ItemQuantity>? Items { get; set; }
    [Parameter]
    public IEnumerable<ItemQuantity>? Spells { get; set; }
}
