@using Mythril.Data
@inject Mythril.Data.ResourceManager resourceManager

<div class="party-panel">
    <h3>Party</h3>
    @if (Party is not null && QuestProgresses is not null)
    {
        @foreach (var character in Party)
        {
            <CharacterDisplay Character="character"
                                QuestProgress="QuestProgresses.FirstOrDefault(p => p.Character == character)"
                                OnQuestDrop="(task) => OnQuestDrop.InvokeAsync((task, character))"
                                OnCompletionAnimationEnd="(progress) => OnCompletionAnimationEnd.InvokeAsync(progress)"
                                Accepts="resourceManager.CanAfford" />
        }
    }
</div>

@code {
    [Parameter]
    public Character[]? Party { get; set; }

    [Parameter]
    public List<QuestProgress>? QuestProgresses { get; set; }

    [Parameter]
    public EventCallback<(object, Character)> OnQuestDrop { get; set; }

    [Parameter]
    public EventCallback<QuestProgress> OnCompletionAnimationEnd { get; set; }
}
