<div class="resource-panel">
    <span>Gold: @Gold</span>
    <span>Mana: @Mana</span>
    <span>Faith: @Faith</span>
</div>

@code {
    [Parameter]
    public int Gold { get; set; }

    [Parameter]
    public int Mana { get; set; }

    [Parameter]
    public int Faith { get; set; }
}
