@using Mythril.Data.Items

<div class="resource-panel">
    <span>Gold: @Gold</span>
</div>

<InventoryPanel Items="Items ?? []" />

@code {
    [Parameter]
    public int Gold { get; set; }

    [Parameter]
    public List<Item>? Items { get; set; }
}
