@using Microsoft.AspNetCore.Components.Web
@using Mythril.Data
@using Mythril.Blazor.Services
@inject DragDropService DragDropService

<div class="card" draggable="true" @ondragstart="HandleDragStart">
    <div class="card-header">@TaskData?.Title</div>
    <div class="card-body">
        <p>@TaskData?.Description</p>
        @if (TaskData?.Requirements.Count > 0)
        {
            <h6>Requirements:</h6>
            <ul>
                @foreach (var requirement in TaskData.Requirements)
                {
                    <li>@requirement.Value @requirement.Key</li>
                }
            </ul>
        }
        @if (TaskData?.Rewards.Count > 0)
        {
            <h6>Rewards:</h6>
            <ul>
                @foreach (var reward in TaskData.Rewards)
                {
                    <li>@reward.Value @reward.Key</li>
                }
            </ul>
        }
    </div>
</div>

@code {
    [Parameter]
    public TaskData? TaskData { get; set; }

    private void HandleDragStart(DragEventArgs args)
    {
        if (TaskData is not null)
        {
            args.DataTransfer.EffectAllowed = "move";
            DragDropService.Data = TaskData;
        }
    }
}
