@using Mythril.Data
@inject ResourceManager ResourceManager

<h3>Upgrades</h3>

@if (Party != null)
{
    @foreach (var character in Party)
    {
        <div>
            <p>@character.Name</p>
            <button @onclick="() => UpgradeAttack(character)">
                Upgrade Attack (@(character.AttackPower * 10) G)
            </button>
        </div>
    }
}


@code {
    [Parameter]
    public IReadOnlyList<Character>? Party { get; set; }

    private void UpgradeAttack(Character character)
    {
        ResourceManager.UpgradeCharacterAttack(character);
    }
}
